* {
    font-family: 'Open Sans', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: #3838a5;
}

.login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    padding: 80px;
    background: #ffffff;
    border-radius: 15px;
    text-align: center;
}
.begin{
    position: absolute;
    left: 40%;
    top: 15%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row!important;
}
.login.muu{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 400px;
    overflow: hidden;
    margin: auto;
    margin-inside: auto;

}